<h1 mat-dialog-title>Cuentas Asociadas: {{data.cliNombre}}</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="cuentas">

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let element"> {{typeAccount(element.cueTipo)}} </td>
    </ng-container>

    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef>Numero</th>
      <td mat-cell *matCellDef="let element"> {{element.cueNumero}} </td>
    </ng-container>

    <ng-container matColumnDef="saldo">
      <th mat-header-cell *matHeaderCellDef>Saldo</th>
      <td mat-cell *matCellDef="let element"> {{element.cueSaldo}} </td>
    </ng-container>

    <ng-container matColumnDef="ciudad">
      <th mat-header-cell *matHeaderCellDef>Ciudad</th>
      <td mat-cell *matCellDef="let element"> {{element.ciuId.ciuNombre}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cerrar</button>
</div>
